@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
  outline: none;
  background: transparent;
}

@layer base {
  :root{
    --color-BgColor: 192, 235, 52;
  }
  :root[class='dark']{
    --color-BgColor: 117, 145, 25
  }
}

@layer utilities {
  .section-min-height {
     min-height: calc(100vh - 60px);
  }

  .my-arrow-up-800{
    @apply font-bold text-center pb-6 pt-12 dark:text-white dark:bg-slate-800;
  }
  .my-arrow-up-950{
    @apply font-bold text-center pb-6 pt-12 bg-slate-100 dark:text-white dark:bg-slate-950;
  }
 }