@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}

@layer base {
  :root{
    --color-BgColor: 192, 235, 52;
  }
  :root[class='dark']{
    --color-BgColor: 117, 145, 25
  }
}

@layer utilities {
  .section-min-height {
     min-height: calc(100vh - 60px);
  }
 }